<mat-form-field [ngClass]="{'has-error': (control.invalid && (control.dirty || control.touched)) || control.errors?.['incorrect']}">
  <input matInput
         [type]="isPassword ? (showPassword ? 'text' : 'password') : 'text'"
         [placeholder]="placeholder"
         [formControl]="control">
  <mat-icon matSuffix (click)="toggleShowPassword()" *ngIf="isPassword">
    {{ showPassword ? 'visibility_off' : 'visibility' }}
  </mat-icon>
  <mat-error *ngIf="control.errors?.['required']">
    {{ requiredErrorMessage }}
  </mat-error>
  <mat-error *ngIf="control.errors?.['email']">
    Некоректна адреса електронної пошти
  </mat-error>
  <mat-error *ngIf="control.errors?.['incorrect'] && isPassword">
    Неправильний логін або пароль
  </mat-error>
  <mat-error *ngIf="control.errors?.['exists']">
    Користувач з такою адресою ел. пошти вже існує
  </mat-error>
</mat-form-field>
