<mat-toolbar color="primary" class="d-flex align-content-center justify-content-between">
  <div>
    <app-file-menu></app-file-menu>
    <app-project-menu></app-project-menu>
  </div>
  <div *ngIf="!isLoading">
    <div *ngIf="(authService.isAuthenticated$ | async); else notAuthenticated" class="d-flex align-items-center">
      <app-project-details></app-project-details>
      <app-user-menu></app-user-menu>
    </div>
    <ng-template #notAuthenticated>
      <button routerLink="/signup" class="mx-2" mat-stroked-button>Зареєструватись</button>
      <button routerLink="/login" class="mx-2" mat-raised-button>Вхід</button>
    </ng-template>
  </div>
</mat-toolbar>
