<mat-card-footer class="d-flex flex-column">
  <button mat-stroked-button color="primary" class="google-button" (click)="socialLogin('google')">
    <img ngSrc="assets/images/icon-google.svg" alt="" height="32" width="32" style="margin-right: 8px;">Продовжити з Google</button>
  <button mat-stroked-button color="primary" class="github-button" (click)="socialLogin('github')">
    <img ngSrc="assets/images/icon-github.svg" alt="" height="32" width="32" style="margin-right: 8px;">Продовжити з Github</button>
</mat-card-footer>
