.resizer {
  width: 5px;
  background-color: #2b2d30;
  cursor: col-resize;
}

.d-flex.flex-row .d-flex.flex-column {
  position: relative;
}

.button-close, .button-open {
  z-index: 2;
  position: absolute;
  background-color: transparent;
  top: 50%;
  border: none;
}

.button-close {
  right: 5px;
}

